<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!--<add key="Context" value="DAOMock"/>-->
    <add key="Context" value="DAOFile"/>
    <add key="ContextData" value="database.xml"/>
    <!--<add key="Context" value="DAOSQL"/>-->
    <!--<add key="ContextData" value="database.db"/>-->
  </appSettings>
</configuration>
